{% extends "layout.html" %}
{% block content %}
  <div class="container-fluid">
    <form class="form-inline d-flex justify-content-center">
      <a class="btn btn-primary mb-4 mx-1" href="{{ url_for('register') }}" role="button">Sign up <i class="em em---1"></i></a>
      <a class="btn btn-primary mb-4 mx-1" href="{{ url_for('unsubscribe') }}" role="button">Unsubscribe <i class="em em-wave"></i></a>
    </form>
  </div>
  <footer class="page-footer">
    <p>
      <small>created by <a target="_blank" href="https://peter-amerkhanian.github.io/">peter</a></small>
    </p>
  </footer>
{% endblock content %}